-
    var awardHeader = "#Education";
    
    var awardList =[ 
     {
        title: 'Colegiul National Gheorghe Rosca Codreanu',
        description: 'Studied Mathematics – Computer Science',
        location: 'Barlad, Romania',
        date: 'September 2008 – July 2012' 
     },
     {
        title: 'Alewijnse Training Center Romania',
        description: 'Certificate on Automation and Electrical Engineering',
        location: 'Galati, Romania',
        date: 'November 2015 – November  2016' 
     },
     {
        title: 'Faculty of Naval Arhitecture –  Dunarea de Jos University of Galati,  Romania ',
        description: 'Studied marine engineering, which is the engineering speciality of design, construction, installation and operation of machinery and propulsion systems for ships and marine structures.',
        location: 'Galati, Romania',
        date: 'September 2012 -July 2016' 
     }
 ];        
#award
.award
    .award__header=awardHeader
        each award in awardList
            .award__card
                .award__icon
                    span.my-cv__icon--trophy
                .award__title=award.title
                
                .award__icon
                    span.my-cv__icon--info
                .award__title=award.description

                .award__icon
                    span.my-cv__icon--map2
                .award__title=award.location
                
                .award__icon
                    span.my-cv__icon--skype
                .award__date=award.date
                