//- model, data
-
    var header = '#experience'
    var experienceList = [
        {
            title: 'Junior Web Developer',
            date: '2017 - present',
            company: 'Bitbee UK',
            responsabilityList: [
                'My main responsibility was to build the mobile, tablet and desktop interface for new clients',
                'On a daily basis, I have been using HTML5, CSS3 and JavaScript (vanilla or jQuery) to skin the interface',
                'Identify problems and tune up front end',
                'Identify, fix and improve SEO',
                'Analyze user needs to determine technical requirements',
                'Set up Git for version control system ',
                'Assure that all user input is validated before submitting to back-end services'
                
            ]
        }
    ];
//- view, presentation
//- CSS "+" :checked
    input
    controlled container (div, or whatever)
#experience
.experience
        .experience__header=header
        input.experience__input(type="radio", name="same-name", id="experience-default")
        each experience, key in experienceList
            input.experience__input(type="radio", name="same-name", id=`experience-id-${key}`)
            label.experience__title(for=`experience-id-${key}`)
                | #{experience.title}
                label(for="experience-default")
                    span.my-cv__icon--plus
            .experience__details
                .experience__top
                    .experience__date=experience.date
                    .experience__company=experience.company
                .experince__list
                    each responsability in experience.responsabilityList
                        .experience__responsability=responsability